{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<h1 style="color:black; margin-left: 328px;margin-top:-25px;">Book Details</h1>
<br>
<div class="card" style="width: 18rem; margin: 328px;margin-top:-20px;">
  <img src="{{ p.bookimage.url }}" class="card-img-top" alt="{{ p.bookname }} ">
  <div class="card-body">
    <h5 class="card-title">{{ p.bookname }}</h5>
    <p class="card-text"><strong>Author:</strong> {{ p.author }}</p>
    <p class="card-text"><strong>Price:</strong> ${{ p.bookprice }}</p>
  </div>
</div>

{% endblock %}
